<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div id="page">
        {{>header}}
        <div class="container-fluid">
            <form method="POST" action="/api/courses/add">
                <div class="form-group">
                    <label for="courseIdInput">Course ID:</label>
                    <input type="text" class=form-control id="courseIdInput" name="courseId"
                        placeholder="Enter Course ID">
                </div>
                <div class="form-group">
                    <label for="nameInput">Course Name:</label>
                    <input type="text" class=form-control id="nameInput" name="name" placeholder="Enter Course Name">
                </div>
                <div class="form-group">
                    <label for="subjectInput">Subject:</label>
                    <input type="text" class=form-control id="subjectInput" name="subject" placeholder="Enter Subject">
                </div>
                <div class="form-group">
                    <label for="schoolInput">School:</label>
                    <input type="text" class=form-control id="schoolInput" name="school" placeholder="Enter School">
                </div>
                <div class="form-group">
                    <label for="levelInput">Year Level:</label>
                    <input type="text" class=form-control id="levelInput" name="level" placeholder="Enter Year Level">
                </div>
                <button type="submit" class="btn btn-primary">Add Course</button>
            </form>
        </div>
    </div>

    {{!-- Bootstrap scripts --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {{!-- Bootstrap scripts END --}}
    <script src="js/main.js"></script>
</body>

</html>