<div class="container-fluid">
    {{#if title}}
    <h1 class="title">TutorHub - {{title}}</h1>
    {{else}}
    <h1 class="title">TutorHub</h1>
    {{/if}}
</div>
<div class="container-fluid">
    <span>|</span>
    {{#each data}}
    <a href="{{route}}">{{name}}</a>
    <span>|</span>
    {{/each}}
</div>