<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            {{#if showFullSidebar}}
            {{#each fullSidebarData}}
            <li>
                <a href="{{route}}"><i class="fa {{icon}}"></i> {{name}}</a>
            </li>
            {{/each}}
            {{else}}
            <li>
                <a href="/home"><i class="fas fa-sign-in-alt"></i> Log In</a>
            </li>
            <li>
                <a href="/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
            </li>
            <li>
                <a href="/about"><i class="fas fa-info"></i> About Us</a>
            </li>
            {{/if}}
        </ul>
    </div>

</nav>
<!-- /. NAV SIDE  -->